.home-container {
    /* Display setting */
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;

    /* Colors setting */
    background-color: #EFE5D6;
}

.content-container {
    /* Display settings */
    height: 100%;
    display: flex;
    padding: 2rem;
    align-items: center;
    justify-content: center;
}
