.navbar-item {
    display: inline;    
}

.navbar-container {
    /* Display settings */
    top: 0;
    width: 100%;
    height: 50%;
    position: fixed;
}

.navbar-stack {
    align-items: center;
    justify-content: space-between;
}

