/* General container config */
.navbar-container {
    /* Display settings */
    top: 0;
    width: 100%;
    height: 5rem;
    position: sticky;
}

.navbar-stack {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-inline: 2.5rem;
}

    /* Left logo */
    .Logo {
        height: 5rem;
    }

    /* Search container */
    .search-container {
        display: flex;
        max-height: 4.5vh;
        min-width: 30vw;
    }

        .search-box {
            display: flex;
            background-color: white;
            padding: 3px;
            border-radius: 5px;
            min-width: 25vw;
        }

            .search-bar {
                background-color: white;
                margin-left: 0.5vw;
                border: none;
                outline: none;
                color: black;
            }

        .submit-btn {
            display: flex;
            border-color: white;
            border-width: 1px;
            background-color: #1565c0;
            border-radius: 5px;
            margin-left: 0.5vw;

            align-items: center;
            justify-content: center;
        }

    /* Prof img & text */
    .navbar-item{
        min-width: 5vw;
    }

        /* Right side user text */
        .user-data  {
            padding-left: 1vw;
        }

            .user-text {
                text-align: left;
                color: white;
            }